.contents
  .contents__main
    .contents__main__header
      .contents__main__header__leftbox
        .contents__main__header__leftbox__text
          =@group.name
        .contents__main__header__leftbox__text2
          - @group.users.each do|user|
            =user.name
      .contents__main__header__rightbox
        =link_to edit_group_path(current_user) do
          Edit

    .contents__main__messages
      = render @messages

    .contents__main__form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .contents__main__form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'