.contents
  .contents__left
    .contents__left__header
      .contents__left__header__box
        .contents__left__header__box__name
          = current_user.name
        .contents__left__header__box__aikon
          = link_to new_group_path do
            <i class="far fa-edit"></i>
          = link_to edit_user_registration_path do
            <i class="fas fa-cog"></i>
    .contents__left__groups
      - current_user.groups.each do |group|
        .contents__left__groups__group
          = link_to group_messages_path(group) do
            .contents__left__groups__group__name
              = group.name
            .contents__left__groups__group__message
              = group.show_last_message